.section{
    width: 100%;
    height: var(--shikalat-rasm);
    background: url(../img/sceshin/chocolate-covered-cocoa-powder\ 1.png);
    position: relative;
    margin-bottom: var(--shikalatrasim_pasti);
   .vraber{
    position: absolute;
    width: 100%;
    height: 179px;
   
    bottom: 40px;
  
   }
   .text{
    font-size:var(--shikalatrasim_text) ;
    color: white;
    margin-bottom: 32px;
   }
   .text-ortiqcha{
    display: none;
    font-size:var(--shikalatrasim_text) ;
    color: white;
 margin-bottom: 32px;
   }
   .birlashma{
    display: flex;
    justify-content: space-between;
 
.birlashma1{
    display: flex;
    justify-content: center;
    gap: 14px;
    .tugma1{
        padding: var(--padind1) var(--padind2);
        border-radius: 40px;
background: rgba(253, 146, 34, 1 );
color: white;
border: none;
transition: all 0.3s;
&:hover{
   color: rgba(253, 146, 34, 1);
background: rgba(252, 241, 224, 1);

}
    }
        .tugma2{
          padding: var(--padind1) var(--padind2);
        border-radius: 40px;
        background: rgba(252, 241, 224, 0);

color: white;
border: 2px solid white;
&:hover{
color: rgba(253, 146, 34, 1);
background: rgba(252, 241, 224, 1);

}
}
}
.birlashma2{
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    .korsatkich{
width: 38px;
height: 38px;
transform: rotate(90.00deg);
border-radius: 100%;
background: rgba(255, 255, 255, 1);
color: rgba(253, 146, 34, 1);
font-size: 28px;
border: none;

    }
}
}}