.section3 {
    padding-block: var(--pading-bulog);

    .text {
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: -3%;
        margin-bottom: 28px;
        text-align: center;
    }
    .text2 {
        max-width: 486px;
        color: rgba(17, 17, 17, 0.705);
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -2%;
        text-align: center;
        margin: auto;
        margin-bottom: 50px;
    }
    .birlashma {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(4, 1fr);
        gap: var(--gap);
        .img {
            width: 100%;
            height: 100%;
            transition: all 0.2s;
            &:hover {
                box-shadow: -10px 10px 10px 2px gold;
                transform: translate(-5px, 5px);
            }
        }
    }
}
