:root{
--navbar : 80px ;
--navbar-mobilni : 62px;
--shikalat-rasm :600px ;
--shikalat-rasm-pilanshet:890px ;
--shikalat-rasm-mobilni: 621px ;
--shikalatrasim_pasti : 72px ;
--shikalatrasim_pasti_pilanshet: 50px ;
--shikalatrasim_pasti_mobil : 71px ;
--shikalatrasim_text : 28px ;
--shikalatrasim_textmobilni:20px ;
--text:24px;
--padind1:14px;
--padind2:40px;
--pading-bulog : 128px ;
--pading-bulog-pilanshet:100px;
--pading-bulog-mobil:72px;
--text-bottom:50px ;
--text-bottom-mobil:32px;
--text-bottom:28px ;
--gap :19px ;

}